/*
common
***************************/

.mainheaderr_logo {
  display: flex;
  width: 9px;
  height: 51px;
  box-sizing: border-box;
  margin-left: 34px;
  text-align: center;
  margin-top: 13px;
  margin-bottom: -6px;
}

h1 {
  display: flex;
  margin-left: 10%;
  text-align: center;
  margin-top: 13px;
  margin-bottom: -6px;
}

html,
body {
  height: 100%;
}
.content {
  max-width: 600px;
  height: fit-content;
  margin: 0% auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
/*
posts
*******************/
.post_form {
  margin-top: 3%;
  /* padding: 20px 40px; */
  padding: 5%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.tweeeet {
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  width: 20%;
  border-radius: 0.25rem;
  border-left: 20px;
  position: relative;
  left: 482px;
  top: -17px;
}

.form-control {
  position: relative;
  font-weight: bold;
  width: 20%;
  right: -81px;
  top: -40px;
}

.post_form input {
  width: 91%;
  margin-bottom: 30px #ccc;
  border-width: 22;
  padding: 10px;
  border: 1px solid#ccc;
  align-items: flex-start;

  border-radius: 5px;
}
input[type="file"] {
  background-color: white;
  border: none;
  width: 50%;
}
#btn {
  float: right;
  margin-top: 1%;
  margin-top: 2%;
  margin-right: 7%;
  background-color: grey;
  border: none;
  padding: 1% 2% 1% 2%;
  border-radius: 5px;
  color: white;
}
button {
  margin-top: 1%;
  margin-top: 2%;
  margin-right: 7%;
  background-color: grey;
  border: none;
  padding: 6px;
  border-radius: 5px;
  color: white;
}

#cancel {
  text-decoration: none;
  border: 1px solid;
  background-color: gray;
  color: white;
  border-radius: 9px;
  padding: 5px;
}

.banner {
  display: inline;
  margin-left: 57%;
}

.post_form textarea {
  width: 95%;
  padding-bottom: 10%;
  margin-top: 2%;
  border-bottom: 1px solid #ccc;
}

.posts ul {
  padding: 0%;
}

.posts li {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 17px;
  align-items: start;
  position: relative;
}

.posts li .menu_icon {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
}

.posts li .menu {
  display: none;
  position: absolute;

  right: 7px;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 3px;
}

.posts li .menu a {
  text-decoration: none;
}

.post li .menu_icon {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 18px;
}
.posts li .logo {
  flex-basis: 15%;
}

.posts li .name_body {
  flex: 85%;
}

posts li .name_body .name {
  font-weight: bolder;
}

.posts li .logo img {
  width: 60%;
}

.posts li name_body .datetime {
  color: dimgray;
}

@media screen and (max_width: 500px) {
  .posts li .name_body .name {
    font-size: 20px;
  }
}
